html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

body {

}

.container {
  width: 960px;
  margin: 0 auto;
}

header {
  background-color: cadetblue;
  display: inline-flex;
  align-items: center;
  color: white;
  width: 100%;
  margin-top: 1rem;
}

header img {
  margin-right: 1rem;
  margin-left: 2rem;
  height: 1.5rem;
}

header span {
  padding: 1rem 0 1rem 0;
}

ul {
  margin-left: 18rem;
}

ul li {
  padding: 1rem 1rem;
  display: inline;
}

#container1 {
  height: 30rem;
  margin: 0 auto;
}

#background-image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

#title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  background-color: white;
  margin-top: 10rem;
  display: inline-flex;
  float: right;
  left: 2rem;
}

.pngs {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 8rem;
}

.png {
  display: flex;
  flex-direction: column;
  height: 8rem;
  margin: 3rem;
  align-items: center;
  justify-content: center;
}
.png span {
  text-align: center;
  margin-top: 1rem;
}


#img1 {
  width: 3.5rem;
}

#img2 {
  width: 5rem;
}

#img3 {
  width: 5rem;
}

.boxes {
  display: inline-flex;
  flex-direction: row;
}

.box {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.box p {
  font-weight: bold;
  background-color: cadetblue;
  color: white;
  padding: 0.5rem 1.25rem;
  width: 10rem;
}

.box span {
  width: 20rem;
  line-height: 1.4rem;
  margin-top: 1rem;
}

#second {
  margin-left: 8rem;
}

.footer {
  display: inline-flex;
  flex-direction: row;
  margin-top: 5rem;
  background-color: azure;
  align-items: center;
  width: 100%;
}

.footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}
